input{
    width : 35px;
    background-color: gray;
    color:orangered;
    margin: 5px;
    padding : 25px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
}
input:hover{
    box-shadow: 0px 0px 3px pink;
}
#result{
    width: 200px;
    background-color: orangered;
    color:black;
    margin: 3px;
    border: 5px solid black;
    text-align:center;
}
h1{
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    
}
.style{
    width:280px;
    height: 570px;
    border:3px solid orangered;
    margin: auto;
    border-radius: 3px;
    background-color: black;
    padding: 10px;

}
#erase{
    font-size:20px ;
    width: 60px;
}